<!DOCTYPE html>
<html>
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{$data['title']}</title>

    
<meta name="keywords" content="哔哩哔哩,Bilibili,B站,弹幕,动画,MAD·AMV,泛式," />
<meta name="description" content="简介: 恭贺FGO国服一周年，跟着从者们的语音回顾这一年的BGO大事件吧~ 使用素材: Fate/Grand Order, Fate/Zero, Fate/ Extella, Fate/ Apocrypha, Fate/Stay night 视频类型: 混合系MAD BGM【音乐名】: You Say Run BGM【音乐人】: 林ゆうき" />
<meta name="author" content="泛式" />
<meta name="spm_prefix" content="333.338">

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="//static.hdslb.com/images/favicon.ico">
    <link rel="search" type="application/opensearchdescription+xml" href="//static.hdslb.com/opensearch.xml" title="哔哩哔哩" />

    <link rel="stylesheet" href="__CSS__/query-ui.css" type="text/css">
    <link rel="stylesheet" href="__CSS__/page-core.css" type="text/css" />
    <link  rel="stylesheet" href="__CSS__/qqmain.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/sinaFaceAndEffec.css" />
    <script type="text/javascript" src="__JS__/jquery.min.js"></script>
    <script type="text/javascript" src="__JS__/jquery-ui.min.js"></script>
     
    <script type="text/javascript" src="__JS__/seed.js"></script>
   

<link rel="stylesheet" href="__CSS__/tag-index2.0.css" type="text/css">
<link rel="stylesheet" href="__CSS__/elec.css">
<link rel="stylesheet" href="__CSS__/chart.min.css">
<link rel="stylesheet" type="text/css" href="__CSS__/comment.min.css">
<link href="__CSS__/scojs.css" rel="stylesheet">
  <link href="__CSS__/colpick.css" rel="stylesheet">
  <link href="__BOOTSTRAP__/css/bootstrap.css" rel="stylesheet">
  <link href="__BOOTSTRAP__/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="__CSS__/main.css">
  <link rel="stylesheet" href="__CSS__/index.css">
<!-- add by liqian -->
<!-- 视频详情页增加一个投诉入口,番剧详情页无需增加这个入口 -->
<link rel="stylesheet" href="__CSS__/appeal.css" type="text/css">

<!-- end -->

<script type="text/javascript" src="__JS__/jquery.qrcode.min.js"></script>
<script type="text/javascript" src="__JS__/swfobject.js"></script>
<script type="text/javascript" src="__JS__/video.min.js"></script>
<script type="text/javascript" src="__JS__/page.arc.js"></script>
<script type="text/javascript" src="__JS__/jquery.zclip.min.js"></script>
<script type="text/javascript" src="__JS__/jquery.xdomainrequest.min.js"></script>
<style type="text/css">
       *{margin:0;padding:0;list-style-type:none;}
          a,img{border:0;}
          body{background:url(__IMAGES__/blog7year_videobg.png);font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}


          /* actGotop */
          .actGotop{position:fixed;_position:absolute;bottom:100px;right:50px;width:150px;height:195px;display:none;}
          .actGotop a,.actGotop a:link{width:150px;height:195px;display:inline-block;background:url(__IMAGES__/blog7year_gotop.png) no-repeat;_background:url(__IMAGES__/blog7year_gotop.gif) no-repeat;outline:none;}
          .actGotop a:hover{background:url(__IMAGES__/blog7year_gotopd.gif) no-repeat;outline:none;}


</style>


  </head>

  <body>
  <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"2","bdPos":"right","bdTop":"100"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>





<img src="picture/1c1680b0fa439d915a5ed0a5b08202ac7199d3b0.jpg" style="display:none;" class="cover_image"/>

    <script type="text/javascript">biliAdjust(); $(function(){ biliAdjust(true); $(window).resize(biliAdjust); });</script>

    <div class="float_window"><div class="close"></div><div id="float_window"></div></div>

    <div class="z_top_container">
      <div class="z_top b-header-blur">
        <div class="b-header-mask-wrp"><div class="b-header-mask-bg"></div><div class="b-header-mask"></div></div>
        <div class="z_header">
          <div class="z_top_nav">
            <ul>
  <li class="home">
    <a class="i-link" href="/index"><span>主站</span></a>
  </li>
    <li class="hbili"><a class="i-link" href="" title="画友">画友</a></li>
  <li class="b-gc" hasframe="true">
    <a class="i-link" href="" title="游戏中心">游戏中心</a>
    <div class="i_div game" data-frame="game"></div>
  </li>
    <li class="live" hasframe="true">
    <a class="i-link" target="_blank" href="javascript:;" title="直播">直播</a>
    <div class="i_div stream" data-frame="stream"></div>
  </li>
  <li class="b-ml"><a class="i-link" target="_blank" href="javascript:;" title="会员购">会员购</a></li>
  <li class="b-zb"><a class="i-link" target="_blank" href="javascript:;" title="周边">周边</a></li>
  <li class="shouji">
    <a class="i-link" target="_blank" href="javascript:;" title="移动端">移动端</a>
    <div class="mobile-p-box"><div class="mobile-p-qrcode"></div></div>
  </li>
</ul>
          </div>
          <div class="uns_box">
  <ul class="menu">
    <li id="i_menu_profile_btn" guest="no" class="u-i i_user" i_menu="#i_menu_profile">
      <a class="i-link" href="javascript:;" target="_blank">
        <img class="i_face">
      </a>
      <div id="i_menu_profile" class="i_menu">
        <div class="i_menu_bg_t"></div>
        <div class="info clearfix"><div class="uname"></div><div class="coin"></div></div>
        <div class="member-menu-wrp">
          <ul class="member-menu">
            <li><a href="javascript:;" target="_blank" class="account"><i class="b-icon b-icon-p-account"></i>个人中心</a></li>
            <li><a href="javascript:;" target="_blank" class="member"><i class="b-icon b-icon-p-member"></i>投稿管理</a></li>
            <li><a href="javascript:;" target="_blank" class="wallet"><i class="b-icon b-icon-p-wallet"></i>B币钱包</a></li>
            <li><a href="javascript:;" target="_blank" class="live"><i class="b-icon b-icon-p-live"></i>直播中心</a></li>
            <li><a href="javascript:;" target="_blank" class="ticket"><i class="b-icon b-icon-p-ticket"></i>会员购订单</a></li>
          </ul>
        </div>
        <div class="member-bottom">
          <a class="logout" href="javascript:;">退出</a>
        </div>
      </div>
    </li>
    <li id="i_menu_become_vip" guest="no" i_menu="become_vip" class="u-i">
      <a class="i-link" href="javascript:;" target="_blank">成为大会员</a>
    </li>
    <li id="i_menu_community_msg_btn" guest="no" i_menu="community_msg" class="u-i">
            <a class="i-link" href="javascript:;" target="_blank">消息</a>
        </li>
    <li id="i_menu_msg_btn" guest="no" i_menu="#dyn_wnd" class="u-i">
      <div class="num" id="dynamic_num_total"></div>
      <a class="i-link" href="javascript:;" target="_blank">动态</a>
    </li>
    <li id="i_menu_watchLater_btn" guest="no" class="u-i" style="display:list-item">
      <a class="i-link" href="javascript:;" target="_blank">稍后再看</a>
    </li>
    <li id="i_menu_fav_btn" guest="no" i_menu="#i_menu_fav" class="u-i">
      <a class="i-link" href="javascript:;" target="_blank">收藏夹</a>
    </li>
    <li class="u-i i_user" id="i_menu_login_reg" guest="yes">
      <a id="login_default_face" href="javascript:;">
        <img class="i_face" src="picture/akari.jpg">
      </a>
      <div class="i_menu" id="i_menu_login">
        <p class="tip">登录后你可以：</p>
        <div class="img">
          <img src="picture/danmu.png">
          <img src="picture/danmu.png">
        </div>
        <a class="login-btn" href="//passport.bilibili.com/login">登录</a>
        <p class="reg">首次使用？<a href="//passport.bilibili.com/register/phone.html">点我去注册</a></p>
      </div>
    </li>
    <li id="i_menu_history_btn" class="u-i">
      <a class="i-link" href="//www.bilibili.com/account/history">历史</a>
    </li>
    <li class="u-i b-post">
      <a class="i-link" href="//member.bilibili.com/v/video/submit.html" target="_blank">投 稿</a>
      <ul class="s-menu">
        <li class="article"><a href="//member.bilibili.com/v/#/text-apply" target="_blank"><i class="b-icon b-icon-art"></i><em>专栏投稿</em></a></li>
        <li class="music-up"><a href="//www.bilibili.com/audio/submit/" target="_blank"><i class="b-icon b-icon-music"></i><em>音频投稿</em></a></li>
        <li><a href="//member.bilibili.com/v/video/submit.html" target="_blank"><i class="b-icon b-icon-vp"></i><em>视频投稿</em></a></li>
        <li><a href="//member.bilibili.com/v/#/article" target="_blank"><i class="b-icon b-icon-vm"></i><em>投稿管理</em></a></li>
        <li><a href="//member.bilibili.com/v/" target="_blank"><i class="b-icon b-icon-vc"></i><em>创作中心</em></a></li>
      </ul>
    </li>
  </ul>
</div>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="h-center">
        <a href="//www.bilibili.com/index.html" class="logo"></a>
        <a href="//www.bilibili.com/random" target="_blank" title="随便找个视频看看?" class="lsb"></a>
      </div>
              <ul class="nav-list show-list">
        <li class="item item-home">
          <a href="/" class="link">首页</a>
        </li>
        {foreach $doto as $val}
        <li class="item">
          <a href="{$val['url']}" class="link">
            <div class="num"><i>887</i></div>
            {$val['name']}
          </a>
          <ul class="nav-item__hover new-item__hover">
            {foreach $val as $v}
              {if is_array($v)}
            <li>
              <a href="{$v['url']}">
                <em>{$v['name']}<i></i></em>
              </a>
            </li>
              {/if}
            {/foreach}
          </ul>
        </li>
        {/foreach}
        <li class="item item-square">
          <a href="#" class="link link-other">广场</a>
          <div class="nav-square__hover">
            <ul>
              <li><a href="#"><i class="icon-activity"></i>活动中心</a></li>
              <li><a href="#"><i class="icon-game"></i>游戏中心</a></li>
              <li><a href="#"><i class="icon-news"></i>新闻中心</a></li>
              <li><a href="#"><i class="icon-friend"></i>画友</a></li>
              <li><a href="#"><i class="icon-tv"></i>芒果TV</a></li>
            </ul> 
            <a href="#" class="activity"><img src="__IMAGES__/cont/nav-square__img.jpg" alt="#"></a>
          </div>
        </li>
        <li class="item item-live">
          <a href="#" class="link link-other">直播</a>
          <ul class="nav-item__hover">
            <li>
              <a href="#">
                <em>推荐主播<i></i></em>
              </a>
            </li>
            <li>
              <a href="#">
                <em>手机直播<i></i></em>
              </a>
            </li>
            <li>
              <a href="#">
                <em>绘画专区<i></i></em>
              </a>
            </li>
            <li>
              <a href="#">
                <em>唱见舞见<i></i></em>
              </a>
            </li>
            <li>
              <a href="#">
                <em>御宅文化<i></i></em>
              </a>
            </li>
            <li>
              <a href="#">
                <em>单机联机<i></i></em>
              </a>
            </li>
            <li>
              <a href="#">
                <em>网络游戏<i></i></em>
              </a>
            </li>
            <li>
              <a href="#">
                <em>电子竞技<i></i></em>
              </a>
            </li>
            <li>
              <a href="#">
                <em>手游直播<i></i></em>
              </a>
            </li>
            <li>
              <a href="#">
                <em>放映厅<i></i></em>
              </a>
            </li>
          </ul>
        </li>
        <li class="item item-room">
          <a href="#" class="link link-other">小黑屋</a>
        </li>
      </ul>
    </div>

    <div class="b-page-body">

      
    <script>
        $('.header .num .m-i[data-tid=1]').addClass('on');
        var topid = '1';
    </script>
<script type="text/javascript"> var token = "d41d8cd98f00b204e9800998ecf8427e"; </script>
<div class="main-inner">
    <div id="heimu"></div>
    <div class="viewbox report-scroll-module report-wrap-module" id="viewbox_report">
        <div class="info">
        <div class="v-title"><h1 title="{$data['title']}">{$data['title']}</h1></div><div class="arcrank"></div>
        <div class="tminfo" xmlns:v="//rdf.data-vocabulary.org/#"><a id="homepage" href="/" rel="v:url" property="v:title">主页</a> 
                        <time itemprop="startDate" datetime="2017-10-13T00:00"><i></i></time>
                    </div>
        <div class="v-title-info">
            <div class="v-title-line" title="总播放数"><i class="b-icon b-icon-a b-icon-play">{$data['count']}</i><span id="dianji"></span></div>
            <div class="v-title-line" title="总弹幕数"><i class="b-icon b-icon-a b-icon-danmaku">{$count}</i><span id="dm_count"></span></div>
            <div class="v-title-line v-rank" title="本日日排行数据过期后，再纳入本稿件的历史排行数据进行对比得出"><!-- 排行数据 --></div>
            <div class="v-title-line v-coin coin_btn" title="投币个数"><i class="b-icon b-icon-a b-icon-coin"></i><span class="coin-status">硬币</span><span id="v_ctimes"></span></div>
            <div class="v-title-line v-stow fav_btn" title="收藏人数"><i class="b-icon b-icon-a b-icon-stow"></i><span class="stow-status">收藏</span><span id="stow_count"></span></div>
        </div>
        
        </div>

                     <div class="upinfo">
                    <div class="u-face" id="r-info-rank"><a href="//space.bilibili.com/63231" card="泛式" mid="63231" title="泛式" target="_blank"><img data-fn-size="68" data-fn-src="picture/7e04f2466f118369458cb30e5cdd47d2317454b8.jpg" src="{$data['img']}" alt="泛式" /><div class="u-sign"><img data-fn-size="112" data-fn-src="picture/59c8dca0857e07c5a8cfc8a0bbc1af849a54510d.png" src="//static.hdslb.com/images/transparent.gif" alt="2017拜年祭" /></div></a> <div class="legalize-icon legalize-16-1" title="个人认证"></div></div>
                    <div class="r-info">
                        <div class="usname"><a class="name" href="//space.bilibili.com/63231" mid="63231" card="泛式" title="泛式" target="_blank">{$data['nickname']}</a><a mid="63231" href="//message.bilibili.com/#whisper/mid63231" target="_blank" class="message">发消息</a>
                        </div>
                        <div class="sign">{$data['user_profile']}</div>
                        <script type="text/javascript">
                            if($('.sign').height() > 40) {
                                $('.sign').addClass('static');
                                var span_btn = $('<a class="b-btn b-btn-textonly">展开</a>').appendTo($('.sign')).on('click', function(){
                                    if($('.sign').hasClass('static')) {
                                        $('.sign').removeClass('static');
                                        span_btn.html('收起');
                                    } else {
                                        $('.sign').addClass('static');
                                        span_btn.html('展开');
                                    }
                                });
                            }
                        </script>
                        <div class="up-video-message">
                            <div class="archiveCount">投稿：0</div>
                            <div>粉丝：--</div>
                        </div>
                        <div mid="63231" class="b-btn f hide">+ 关注</div>
                        <div class="b-btn elec hide">充电</div>
                        
                    </div>
                </div>
                        
                </div>
        <div class="ad-f">
        <div class="left ad-fl"></div>
        <div class="right ad-fr"></div>
    </div>
    </div>

<div class="player-wrapper">
    <div class="main-inner">
        <div class="v-plist">
            <div id="plist"></div>
        </div>
    </div>
    <div id="danmup" style="left: 50%;margin-left:-580px;top:100px">
    <input type="hidden" name="vidsrc" value="{$data['src']}">
    <input type="hidden" name="vid" value="{$id}">
</div>
<div style="display: none">
  <span class="glyphicon" aria-hidden="true">&#xe072</span>
  <span class="glyphicon" aria-hidden="true">&#xe073</span>
  <span class="glyphicon" aria-hidden="true">&#xe242</span>
  <span class="glyphicon" aria-hidden="true">&#xe115</span>
  <span class="glyphicon" aria-hidden="true">&#xe111</span>
  <span class="glyphicon" aria-hidden="true">&#xe096</span>
  <span class="glyphicon" aria-hidden="true">&#xe097</span>
</div>
    <div class="arc-toolbar report-scroll-module report-wrap-module" id="arc_toolbar_report">
      <div class="share-tool-bar">
        <!--     <div class="drawer">
               <span class="title">分享</span><span class="num" title="分享次数"></span><span class="arrow"></span> 
                <div class="share-box" id="share_list" style="display: none;">
                    <div class="share-left">
                        <div class="share-time">
                            <label><input name="has_start_time" type="checkbox">开始时间</label><input name="video_start_time" type="text" value="0:00">
                        </div>
                        <div class="share-head">
                            将视频贴到博客或论坛
                        </div>
                        <ul class="share-address-list">
                            <li class="share-address"><label>视频地址</label><input id="link0" name="video_address" readonly type="text" value=""><span class="address-copy">复制</span></li>
                            <li class="share-address"><label>Flash地址</label><input id="link1" name="flash_address" readonly type="text" value=""><span class="address-copy">复制</span></li>
                            <li class="share-address last"><label>Html地址</label><input id="link2" name="html_address" readonly type="text" value=""><span class="address-copy">复制</span></li>
                        </ul>
                    </div>
                    <div class="share-right">
                        <div class="share-head">
                            微信扫一扫分享
                        </div>
                        <div class="share-btn" id="btn_weixin" title="扫一扫 分享到微信">
                            <div class="share-weixin">
                                <div class="qr-code" style="height: 110px;">
                                    <canvas height="110" width="110"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
           <!--  <div class="share-btn-bar">
                <div class="g-share-btn weibo" data-id="btn_weibo" title="分享到新浪微博"></div>
                <div class="g-share-btn qzone" data-id="btn_qqzone" title="分享到QQ空间"></div>
                <div class="g-share-btn qq" data-id="btn_qq" title="分享到QQ"></div>
                <div class="g-share-btn tieba" data-id="btn_baidu" title="分享到百度贴吧"></div>
            </div> -->
        </div>


        <div class="block fav">
            <span class="t fav_btn" href="//www.bilibili.com/m/stow?aid=15317897">
                <i class="b-icon b-icon-a b-icon-anim-fav"></i>
                <div class="t-right">
                    <span class="t-right-top">收藏</span>
                    <span class="t-right-bottom stow_count"></span>
                </div>
            </span>
        </div>
        <div class="block coin" arctype="Original">
            <span class="t">
                <i class="b-icon b-icon-a b-icon-anim-coin"></i>
                <div class="t-right">
                    <span class="t-right-top">硬币</span>
                    <span class="t-right-bottom v_ctimes">-</span>
                </div>
            </span>
        </div>
        <div class="block watch-later" aid="15317897" title="稍后看">
            <span class="t">
                <i class="b-icon b-icon-a b-icon-anim-watch-later"></i>
                <div class="t-right">
                    <span class="t-right-top">稍后看</span>
                    <span class="t-right-bottom">马克一下~</span>
                </div>
            </span>
        </div>
        <div class="block app" id="app_qrcode_box" title="用手机看">
            <span class="t">
                <i class="b-icon b-icon-a b-icon-anim-app"></i>
                <div class="t-right">
                    <span class="t-right-top">用手机看</span>
                    <span class="t-right-bottom">离线看更方便</span>
                </div>
            </span>
            <div class="qr-code-box report-wrap-module" id="video-report-appdownload">
                <div class="qr-code-box-inner">
                    <div class="qr-code" id="qr_code"></div>
                    <div class="qr-info">
                        <div class="qr-info-head">【FGO周年庆】50位英灵带你回顾国服一周年大事件「FATE/GRAND ANNIVERSARY」</div>
                        <div class="qr-info-description" id="qr_description"></div>
                    </div>
                    <div class="qr-bottom">用<a href="//app.bilibili.com/" target="_blank">哔哩哔哩客户端</a>或其他应用扫描二维码</div>
                </div>
            </div>
        </div>
        <div class="block zan">
            <span class="t">
                <i class="b-icon b-icon-a b-icon-anim-zan" title="点赞"></i>
                <div class="t-right">
                    <span class="t-right-top middle">点赞</span>
                    <span class="t-right-bottom"></span>
                </div>
            </span>
        </div>
    </div>
</div>

<div class="main-inner">
        <div class="v_small">
                
    </div>
    <div class="v_large">
                <div class="v_info">
            <div class="s_tag report-scroll-module report-wrap-module" id="tag_report">
                <ul class="tag-list">
                                    </ul>
                <span id="newtag"></span>
            </div>
                        <div class="intro">
                        <div class="v_desc report-scroll-module report-wrap-module" id="v_desc" data-desc="0">简介: 恭贺FGO国服一周年，跟着从者们的语音回顾这一年的BGO大事件吧~
使用素材: Fate/Grand Order, Fate/Zero, Fate/ Extella, Fate/ Apocrypha, Fate/Stay night
视频类型: 混合系MAD
BGM【音乐名】: You Say Run
BGM【音乐人】: 林ゆうき</div>
            </div>
                    </div>
                    <div class="v-content">
                <div class="ad ad-e1"></div>
                <div class="ad ad-e2"></div>
            </div>
                <!--评论-->
        <div class="common report-scroll-module report-wrap-module" id="common_report">
            <div class="b-head">
              <span class="b-head-t results"></span>
              <span class="b-head-t">评论</span>
              
            </div>
            <div class="comm" id="bbComment">
                <!-- <div id="load_comment" class="comm_open_btn" onclick="var fb = new bbFeedback('.comm', 'arc');fb.show(15317897, 1);" style="cursor:pointer"></div> -->
                
                <div id="info-show">
                  <ul>
                  {if !empty($pinglist)}
                  {foreach $pinglist as $key=>$val}
                  <li>
                    <div class="head-face">
                      <img src="{$val.img}" / >
                      </div>
                      <div class="reply-cont">
                      <p class="username">{$val.p_username}</p>
                      <p class="comment-body">{$val.contents}</p>
                      <p class="comment-footer">{$val.create_time|date="y-m-d",###} </p>    
                      </div>                 
                     </li>
                                             

                     {/foreach}
                    {/if}
                  </ul>
                </div>
                
            </div>
            
            <div id="content" style="width: 700px; height: auto;margin-left:10px;margin-top:0px">
              <div class="wrap">
                <div class="comment">
                  <div class="head-face">
                    <img id="faimg" src="{$Request.session.user.img ?? '//static.hdslb.com/images/member/noface.gif'}" / >
                    <p id="faname">{$Request.session.user.username}</p>
                  </div>
                  <div class="content">
                    <div class="cont-box">
                      <textarea class="text" placeholder="请输入..."></textarea>
                    </div>
                    <div class="tools-box">
                      <div class="operator-box-btn"><span style="margin-top: 5px"class="face-icon"  >☺</span><span style="margin-top: 5px"class="img-icon">▧</span></div>
                      <div class="submit-btn"><input type="button" onClick="out()"value="提交评论" /></div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>


        </div>
    </div>
    
      
    
</div>


    </div>

<div class="actGotop"><a href="javascript:;" title="返回顶部"></a></div> 






  </body>
  <script src="__JS__/jquery-2.1.4.min.js"></script>
<script src="__JS__/jquery.shCircleLoader.js"></script>
<script src="__JS__/sco.tooltip.js"></script>
<script src="__JS__/colpick.js"></script>
<script src="__JS__/jquery.danmu.js"></script>
<script src="__JS__/main.js"></script>
<script type="text/javascript" src="__JS__/appeal.js"></script>
<script type="text/javascript" src="__JS__/moxie.js"></script>
<script type="text/javascript" src="__JS__/plupload.js"></script>
<script type="text/javascript" src="__JS__/jquery.qqFace.js"></script>
<script type="text/javascript" src="__JS__/qqmain.js"></script>
<script type="text/javascript" src="__JS__/sinaFaceAndEffec.js"></script>
<script>

var name;
var img;
var str;
var vid;
$(function(){
      name=$('#faname').text();
      img=$('#faimg').attr('src');
      vid=$('input[name=vid]').val();
       var mydate = new Date();
       str = "" + mydate.getFullYear() + "年";
       str += (mydate.getMonth()+1) + "月";
       str += mydate.getDate() + "日";
       //return str;

        $(window).scroll(function() {   
        if($(window).scrollTop() >= 1000){
          $('.actGotop').fadeIn(300); 
        }else{    
          $('.actGotop').fadeOut(300);    
        }  
      });
      $('.actGotop').click(function(){
      $('html,body').animate({scrollTop: '0px'}, 800);}); 





});
// 绑定表情
  $('.face-icon').SinaEmotion($('.text'));
  // 测试本地解析
  function out() {
    var inputText = $('.text').val();
    $('#info-show ul').append(reply(AnalyticEmotion(inputText)));
      var parms={
      "vid":vid,
      "img":img,
      "username":name,
      "contents":AnalyticEmotion(inputText),
      "time":str
    }
    $.post("{:url('index/radioinfo/ping')}",parms,function(data){
        if(data.status){
            console.log(data.msg);
        }else{
            console.log(data.msg);
        }
    });
  }
  
  var html;
  function reply(content){
    html  = '<li>';
    html += '<div class="head-face">';
    html += '<img src="'+img+'" / >';
    html += '</div>';
    html += '<div class="reply-cont">';
    html += '<p class="username">'+name+'</p>';
    html += '<p class="comment-body">'+content+'</p>';
    html += '<p class="comment-footer">'+str+' </p>';     //<a onclick="">　'+回复+'  </a>
    html += '</div>';
    html += '</li>';
    return html;
  }








var src = $("input[name=vidsrc]").val();
var vid = $("input[name=vid]").val();
 $.post(
    "navidata",
    {'vid':vid},
    function(data)
    {
        for (var i = 0; i < data['navidata'].length; i++) {
       $("#homepage").after("&gt;<span typeof=v:Breadcrumb><a href="+data['navidata'][i].url+"  property=v:title>"+data['navidata'][i].name+"</a></span>");
        }
    }
    );
  $("#danmup").DanmuPlayer({
    src:src,
    height: "621px", //区域的高度
    width: "1158px", //区域的宽度
    left: "100px",
    urlToGetDanmu:"query?id="+vid
    ,urlToPostDanmu:"stone?id="+vid
  });

  </script>
</html>
