<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__CSS__/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>添加角色</title>
</head>
<body>
<div class="pd-20">
	<form action="" method="post" class="form form-horizontal" id="form-admin-add">
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>管理员ID：</label>
			<div  class="formControls col-5">
				<input type="text" class="input-text" value="{$uid}" readOnly="true" disabled="true" id="user-name" name="userid" datatype="*2-16" nullmsg="用户名不能为空">
			</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>管理员：</label>
			<div class="formControls col-5">
				<input type="text" class="input-text" value="{$name}" readOnly="true" disabled="true" id="user-name" name="user-name" datatype="*2-16" nullmsg="用户名不能为空">
			</div>
			<div class="col-4"> </div>
		</div>
	
		
	
	
		<div class="row cl">
			<label class="form-label col-3">角色：</label>			
			<div class="formControls col-5"> <span class="select-box" style="width:550px;">
				<!-- <select class="select" name="admin-role" size="1"> -->
					{if !empty($rolelist )}
					
					{foreach $rolelist as $key=>$val}
				
					<input type="checkbox" value="{$val.id}" name="check" {if in_array($val.id,$urids)}
							checked 
					{/if}/>{$val.name}
					
					{/foreach}
					{/if}
				<!-- </select> -->
				</span> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-3">备注：</label>
			<div class="formControls col-5">
				<textarea name="" cols="" rows="" class="textarea"  placeholder="说点什么...100个字符以内" dragonfly="true" onKeyUp="textarealength(this,100)"></textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
			</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<div class="col-9 col-offset-3">
				<button class="btn btn-primary radius" onclick="dable()"type="button" value="提交">提交</button> 
			</div>
		</div>
	</form>
</div>
<script type="text/javascript" src="__CSS__/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__CSS__/lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="__CSS__/lib/Validform/5.3.2/Validform.min.js"></script> 
<script type="text/javascript" src="__CSS__/lib/layer/1.9.3/layer.js"></script> 
<script type="text/javascript" src="__JS__/H-ui.js"></script> 
<script type="text/javascript" src="__JS__/H-ui.admin.js"></script> 
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-admin-add").Validform({
		tiptype:2,
		callback:function(form){
			form[0].submit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
});

//赋予用户角色
function dable(){

				var usid=$('input[name=userid]').val();
				var checkedList=new Array();
				var notcheckedList=new Array();
				$("input[name='check']:checked").each(function() { 
					checkedList.push($(this).val()); 
				}); 
				$("input[name='check']").not("input:checked").each(function(){
					notcheckedList.push($(this).val());
				});
				 var parm={
				 	"rid":checkedList,
				 	"nrid":notcheckedList,
				 	"usid":usid
				 }
				
			   $.post("{:url('admin/adminuser/fuyu')}",parm,function(data){
			   			
						//location.href=data.url;
						if(data.code==200)
						{
							alert(data.msg);
							location,href=history.back(-1);
						}else{
							alert(data.msg);
							location.href=data.url;
						}
						
			   });


}
			
			
</script>
</body>
</html>